/* Your app custom styles here *//* Cards Demo */
.demo-card-header-pic .card-header {
  height: 15vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.md .demo-card-header-pic .card-header {
  margin: 0 16px 16px;
  border-radius: 16px;
  position: relative;
  top: 16px;
}
.demo-card-header-pic .card-content-padding .date {
  color: #8e8e93;
}
